*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headre{
    width: 100%;
    height: 200px;
    background-color: palegreen;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.bord{
    border: 2px solid palevioletred;
}


.hijo{
    width: 100px;
    height: 100px;
    background-color: palevioletred;
    position: relative;
   
}

.hijo::after{
    content: '';
    position: absolute;
    background-color: aliceblue;
    width: 100px;
    height: 100px;
    top: 5px;
    

}

.hijo::after:hover .hijo{
    background-color: palegreen;
    
}




ul{
    width: 600px;
    height: 50px;
    border: 2px solid palevioletred;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    border-radius: 25px;
    

}

.box{
    background-color: palegreen;
    padding: 5px 15px;
    border-radius: 25px;
    transition: background .3s ease-in-out;
}

.box:hover{
    border: 1px solid palevioletred;
    background-color: white;
    cursor: pointer;
    
}