* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  border: 1px solid black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main__crads {
  border: 2px solid rgb(231, 192, 16);
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: 2px solid rgb(231, 192, 16);
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 50px;
  cursor: pointer;
}

.card:hover {
  border: 1px solid goldenrod;
}

.main__info {
  background-color: rebeccapurple;
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Estilos para la tabla */
table {
  width: 50%;
  border-collapse: collapse;
}

thead {
  background-color: palevioletred;
}


th {
  padding: 20px 15px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: aliceblue;
}

tbody tr {
}

img {
  width: 450px;
  border-radius: 50%;
}
